/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General Homepage Style Changes */

.jumbotron {
    background-color: rgba(241, 238, 237, 0.63);
    text-align: center;
}

.home-display {
    padding: 10;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    color: black;
    text-align: center;
}

.info {
    text-align: justify;
    color: black;
}

.home_video {
    display: flex;
    position: absolute;
    object-fit: cover;
    display: fixed;
    top: 0;
    z-index: -2;
    transform: translate(-50%, -50%);
    min-width: 165vw;
    min-height: 165vh;
    width: auto;
    height: auto;
}

.home-video-wrapper {
    height: 100%;
    display: flex;
}

/* Media Queries */

/* 
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
   
*/

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .home_video {
        display: flex;
        position: absolute;
        object-fit: cover;
        display: fixed;
        top: 0;
        z-index: -2;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .home-video-wrapper {
        height: 100%;
        display: flex;
    }
}

Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .home_video {
        display: flex;
        position: absolute;
        object-fit: cover;
        display: fixed;
        top: 0;
        z-index: -2;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .home-video-wrapper {
        height: 100%;
        display: flex;
    }
}

Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .home_video {
        display: flex;
        position: absolute;
        object-fit: cover;
        display: fixed;
        top: 0;
        z-index: -2;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .home-video-wrapper {
        height: 100%;
        display: flex;
    }
}

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .home_video {
        display: flex;
        position: absolute;
        object-fit: cover;
        display: fixed;
        top: 0;
        z-index: -2;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .home-video-wrapper {
        height: 100%;
        display: flex;
    }
}