// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* General Homepage Style Changes */
 .home-content{
     max-width: 100%;
     text-align: center;
     justify-content: center;
     height: auto;
     margin-top: 10vh;
     margin-left: 10vw;
 }

 .jumbotron {
     background-color: rgba(241, 238, 237, 0.63);
     text-align: center;
 }

 .home-display {
     padding: 10;
     margin-top: auto;
     margin-bottom: auto;
 }

 h1 {
     color: black;
     text-align: center;
 }

 .info {
     text-align: justify;
     color: black;
 }

 .home_video {
     display: flex;
     position: absolute;
     object-fit: cover;
     display: fixed;
     top: 0;
     z-index: -2;
     transform: translate(-50%, -50%);
     min-width: 165vw;
     min-height: 165vh;
     width: auto;
     height: auto;
 }

 .home-video-wrapper {
     height: 100%;
     display: flex;
 }

  /* Media Queries */

 /* 
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
   
*/

 /*Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {

     .home-video-wrapper {
         display: hidden;
     }
 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
     .home_video {
         display: hidden;
     }

     .home-video-wrapper {
         display: hidden;
     }
 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
     .home_video {
         display: hidden;
     }

     .home-video-wrapper {
         display: hidden;
     }
 }

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
     .home_video { 
         display: none;
     }

     .home-video-wrapper {}
 }