// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* General Homepage Style Changes */
body {
    background-color: #ffffca;
}

 .home-content{
     max-width: 100%;
     text-align: center;
     justify-content: center;
     height: auto;

  
 }

 .jumbotron {
     background-color: rgba(241, 238, 237, 0.63);
     text-align: center;
 }

 .home-display {
     padding: 10;
     margin-top: auto;
     margin-bottom: auto;
 }

 h1 {
     color: black;
     text-align: center;
 }

 .info {
     text-align: justify;
     color: black;
 }

 .home_video {
     display: flex;
     position: absolute;
     object-fit: cover;
     display: fixed;
     top: 0;
     z-index: -2;
     transform: translate(-50%, -50%);
     min-width: 165vw;
     min-height: 165vh;
     width: auto;
     height: auto;
 }

 .home-video-wrapper {
     height: 100%;
     width: 100% !important; 
 }


/* FUTURE QUOTE BOX FEATURE

 #quote {
     color: white;
 }

.quoteBox {
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;

    height: auto;
    font-family: "Times new roman";
    padding: 20px 30px;
}

.quote {
    font-size: 22px;
}

.author {
    font-size: 18px;
    font-style: italic;
}
*/

 // Media Queries

 @media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 30px;
    }

    .mt-3 {
         text-align: center;
         margin-left: 90px;
    }
 }